---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="A propos de nous"
        description="Vitrinéo, la vitrine en ligne de mes partenaires locaux."
        pubDate={new Date('April 13 2025')}
>
    <h2>Bienvenue sur Vitrinéo</h2>
    <p>
        <b>La plateforme innovante pour créer votre carte de visite virtuelle et échanger des recommandations
            professionnelles</b>
    </p>
    <h2> Créez Votre Carte de Visite Virtuelle</h2>
    <p>
        Avec Vitrinéo, votre image professionnelle se transforme en une vitrine numérique moderne, accessible à tout
        moment. Vous pouvez :
    </p>
    <ul>
        <li>
            Concevoir facilement** votre carte de visite digitale.
        </li>
        <li>
            Personnaliser vos informations, logos et couleurs pour refléter l'identité de votre entreprise.
        </li>
        <li>
            Partager votre carte sur tous vos supports de communication.
        </li>
    </ul>

    <h2> Recommandez et Soyez Recommandé</h2>

    Le succès passe aussi par la force du réseau. Grâce à <b>Vitrinéo</b>, développez la confiance et renforcez votre
    crédibilité avec :

    <ul>
        <li><strong>Un système de recommandations intuitif</strong> : Échangez des avis et recommandations avec vos
            partenaires.
        </li>
        <li><strong>Une communauté engagée</strong> : Bénéficiez du soutien d’un réseau local d’entreprises partageant
            les mêmes valeurs.
        </li>
        <li><strong>La visibilité de vos compétences</strong> : Mettez en avant l’expertise de votre entreprise et celle
            de vos partenaires.
        </li>
    </ul>

    <h2>Pourquoi Choisir Vitrinéo ?</h2>

    <ul>
        <li><strong>Simplicité</strong> : Créez et mettez à jour votre carte en quelques clics.</li>
        <li><strong>Pertinence</strong> : Un outil pensé pour les entreprises locales et leurs besoins spécifiques.</li>
        <li><strong>Partenariat</strong> : Plus qu’un simple service, Vitrinéo est un véritable partenaire dans le
            développement de votre image digitale.
        </li>
    </ul>

    ---

    <h2> Rejoignez la Communauté Vitrinéo</h2>
    <p>
        Faites le choix d’une solution moderne qui dynamise votre présence en ligne et enrichit vos relations
        professionnelles.
    </p>
    <strong>Inscrivez-vous dès aujourd'hui</strong> pour commencer à créer votre carte de visite virtuelle et profiter
    des échanges
    de recommandations !

    ** Insérer ici un Call to action, pour inviter les utilisateurs à créer leur carte de visite virtuelle.


</Layout>
