---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="A propos de nous"
    description="La Crafterie Tech, la vitrine en ligne de mes partenaires locaux."
    pubDate={new Date("April 13 2025")}
>
    <h2>Une expertise technique</h2>
    <p>
        Nous sommes une équipe de développeurs passionnés par le développement de solutions numériques sur mesure.
    </p>
    <p>
        Nous avons une expertise technique solide et nous sommes capables de réaliser des projets de toutes tailles et de toutes complexités.
    </p>
    <p>
        Nous sommes également experts en développement web et mobile.
        Avec La Crafterie Tech, votre image professionnelle se transforme en une
        vitrine numérique moderne, accessible à tout moment.
    </p>

    <h2>Pourquoi Choisir La Crafterie Tech ?</h2>
    <ul>
        <li>
            <p>
                Votre succès est notre priorité. 
            </p>
        </li>
        <li>            
            <p>
                Nous prenons le temps de comprendre vos enjeux et vos ambitions grâce à une écoute attentive à chaque étape de votre projet.
            </p>
        </li>
    </ul>

    <h2>Co-construisez vos projets avec nous</h2>
    <p>
        Nous serons votre partenaire pour donner vie à vos projets numériques.
    </p>
    <p>
        Avec notre approche centrée sur les utilisateurs et notre expertise technique, nous saurons vous aider pour choisir quoi développer et sur quoi économiser du temps de développement.
    </p>

</Layout>
